@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=9131C3D5-74C3-4CA1-B114-1B694E8E847A

npm config set @fortawesome:registry=https://npm.fontawesome.com/
npm config set//npm.fontawesome.com/:_authToken=9131C3D5-74C3-4CA1-B114-1B694E8E847A